.on {
    text-shadow: 0px 0px #E85F1A;
}

.link:hover:before{
    color: #c75217;
    z-index: 1;
    -webkit-text-stroke: 1px #000000;
    transform: translate(10px, -10px);
}

.link:hover:after{
    color: #E85F1A;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    transform: translate(20px, -20px);
}

[data-theme="dark"] .link:hover:before {
    color: #943d11;
    transition: 0.3s;
}

.logo:hover{
    background: #E85F1A;
    transition: 0.3s;
}

::selection {
    background: #E85F1A;
    color: white;
}

.gd{
    background: url(../../icons/coloredicons/orange/graphicdesigner-icon.svg);
    display: inline-flex;
}

.fddev{
    background: url(../../icons/coloredicons/orange/frontenddev-icon.svg);
    display: inline-flex;
}

.udev{
    background: url(../../icons/coloredicons/orange/unitydev-icon.svg);
    display: inline-flex;
}

.pg{
    background: url(../../icons/coloredicons/orange/photographer-icon.svg);
    display: inline-flex;
}